*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body._lock{
overflow: hidden;
}
li{
    list-style: none;
}

/* Отступ Первой Строки*/
.p_indent {
	text-indent: 5%;
	text-align: justify;
}

a{
    text-decoration: none;
    color: white;
}
.button__route{
    position: absolute;
    right:50px;
    background: rgb(126 5 22);
    padding: 11px 42px;
    /* font-family: 'Noto Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border:none;
}
.button__route:hover{
    background-color:rgba(126, 5, 22, 0.7);
}


.hero{ 
    background-color: #0c1565;
    color: white;
    padding-top: 70px;
    padding-bottom: 74px;
}

.hero__wrap{
    display: flex;
    padding: 0 50px;
    position: relative;
}

.hero__title{
    flex: 0 1 65%;
}

.hero__name{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.25;

    margin-top: 40px;
    margin-bottom: 20px;
}

.hero__info{
    font-size: 16px;
    line-height: 1.6;
}

.hero__photo{
    position: absolute;
    top: 20px;
    right: 50px;
    box-shadow: 0 0 57px rgb(19 18 33 / 50%);
}

.bread-crumbs{
    padding: 0 50px;
    padding-top: 50px;
    display: flex;
}

.bread-crumbs a{
    text-decoration: underline;
}

.bread-crumbs a{
    color: #0c1565;
}

.hero__photo>img{
    border: 20px solid #fff;
}

.biography-container{
    padding: 0 50px;
    padding-bottom: 50px;
    position: relative;
}

.biography__title{
    font-size: 34px;
    color: #000;
    font-weight: 100;
    margin: 30px 0;
}

.biography-container > p {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 90%;
    margin-bottom: 30px;
}

.biography__awards-item{
    list-style-image: url("../img/star2.png");
}




