*{
    margin: 0;
    padding: 0;
}
.img_img{
    max-width:100%;
    margin: auto;
}
.img_aronova{
    max-width: 50%;
}
body{
    background-color: #fff;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Отступ Первой Строки*/
.p_indent {
	text-indent: 5%;
	text-align: justify;
}

.p_fullwidth {
    width: 100%;
}

.p_90width {
    width: 90%;
}

.text-marg {
    margin-left: 20px;
}

body._lock{
overflow: hidden;
}

.float_img{
    float: left;
    margin: 0 1em 1em 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #7e0516;
}


.hero{
    background-color: #0c1565;
    color: white;
    padding-top: 70px;
    padding-bottom: 74px;
}

.hero__wrap{
    display: flex;
    padding: 0 50px;
    position: relative;
}

.hero__title{
    flex: 0 1 65%;
}

.hero__name{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.25;

    margin-top: 40px;
    margin-bottom: 20px;
}

.hero__info{
    font-size: 16px;
    line-height: 1.6;
}

.hero__photo{
    position: absolute;
    top: 20px;
    right: 50px;
    box-shadow: 0 0 57px rgb(19 18 33 / 50%);
}

.bread-crumbs{
    padding: 0 50px;
    padding-top: 50px;
    display: flex;
}

.bread-crumbs a{
    text-decoration: underline;
}

.bread-crumbs a,p{
    color: #0c1565;
}

.hero__photo>img{
    border: 20px solid #fff;
}

.biography-container {
    padding: 86px 50px;
    padding-bottom: 75px;
}

.biography__title{
    font-size: 34px;
    color: #000;
    font-weight: 100;
    margin: 30px 0;
}

.biography-container  p, .biography-container ol.lineheighted li {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}

.to_roate_map {
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 16px;
	transition: 0.5s;
}

.page-link{
    padding:10px 50px;
}

.page-link nav a{
    color:#fff;
    font-size:15px;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing: 1.2;
}

.page-link nav a:hover{
    color:rgb(207, 209, 241);
    text-decoration:none;
    transition: all 0.2s ease;
}

.to_roate_map a:hover {

  	color: #bf142c;
}

ol.listed li {
  list-style: decimal;
}

.section-1{
    display: flex;
    margin-bottom:30px;
}

.text{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.image-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media (max-width: 680px){
    

    .hero__wrap{
        flex-direction: column;
        justify-content: center;
        padding: 0 0;
    }

    .hero__photo{
        position: static;
        width: 45%;
        display: inline-grid;
        box-shadow: 0 28px 48px rgb(0 0 0 / 63%);
    }

    .biography-container{
        padding: 0 0;
    }

    .hero__photo>img{
        width: 90%;
        border: 10px solid #fff;
    }
    
   .hero__wrap>ul{
    margin-bottom: 5%;
   }

   .hero{
    padding: 10% 0;
   }

   .hero__title{
    margin-bottom: 10%;
   }

   .hero__info{
    font-size: 17px;
   }

   .hero__name{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 12px;
   }

   .container{
    margin: 8px 5%;
   }

   .biography {
    padding-top: 35px;
    padding-bottom: 35px;
   }

   .biography__title {
    margin: 10px 0;
    font-size: 22px;;
   }

   div.container.biography-container>p{
    font-size: 17px;
    margin-bottom: 20px;
   }

   .header-menu__title{
    font-size: 10px;
   }

   /* .header{
    padding: 15px 0;
   } */

   .header__wrap {
    padding: 0;
    }
}

@media (max-width: 940px){
    .header__wrap {
        padding: 0;
    }

    .container{
        margin: 0px 7%;
    }

    .hero__wrap{
        padding: 0 0;
    }

    .hero__title{
        flex: 0 1 50%;
    }

    .biography{
        padding-top: 3%;
    }

    .biography-container{
        padding: 0 2%;
    }
    
    .footer{
        padding: 15px 0;
    }

}
