/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

/*smooth scroll*/
html{
  scroll-behavior: smooth;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

body._lock {
  overflow: hidden;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; 
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  transition: .5s opacity ease-in-out; 
}
/* Отступ Первой Строки*/
.p_indent {
  text-indent: 10%;
  text-align: justify;
}
.body_loading {
  opacity: 1;
}


.life{
  margin: 0 10%;
  padding-top: 50px; 
}

.life h2 {
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Noto Sans';
  font-style: normal;
  font-size: 36px;
  font-weight: 400; 
}

.life__container
{
  margin-bottom: 10%;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}   

#life__wrapper {
      
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

#life__carousel {
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev2,
#next2 {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev2 {
  top: 60%;
  left: 0;
  transform: translate(0%, -50%);
  display: none;
}

#next2 {
  top: 60%;
  right: 0;
  transform: translate(0%, -50%);
}

#life__cards{
  display: grid;
  grid-gap: 136px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.life__cards-img {
  max-width: none;
  margin-bottom: 15px; }



/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

a {
  text-decoration: none;
  color: black; 
}

a.header-menu__link{
  color: #fff;
  opacity: 1;
  transition: .6s all;
}

.header-menu__list > li{
  position: relative;
}

/* a.header-menu__link:hover{
  opacity: 1;
  text-shadow: 0 0 40px rgba(12, 21, 101, 0.9);
  color: rgba(12, 21, 101, 0.9);
} */

a.header-menu__link::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

a.header-menu__link:hover::after { 
  width: 100%; 
  left: 0; 
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }


img.logo-img__SGTY
{
  margin-top: 3px;
  width: 100%;
}
.parallax {
  color: #fff;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%; 
}

.parallax-container {
  display: flex;
  max-width: 56%; 
}

.parallax-container__text {
  padding-top: 170px; 
}

.parallax-container__text h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  padding-bottom: 10px; 
}

.parallax__content {
  height: 100vh; 
}

.parallax__buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px; 
}

.button {
  background: rgba(12, 21, 101, 0.9);
  padding: 16px 86px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: white;
  cursor: pointer;
  transition: 1s;
  margin: 10px;
  width: max-content; 
}
.button:hover {
  background: rgba(12, 21, 101, 0.7);
  transform: scale(1.1);
}

.parallax__header-menu__icons{
  width: 30%;
  display: flex;
  align-items: center;
}

.goto-map,
.about-hero {
  font-size: 16px;
  line-height: 22px; }

.overlay {
  padding: 0 10%;
  background: rgba(33, 33, 33, 0.75);
  height: 100%; }

.page-content {
  height: 600px; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
 }

.about {
  margin: 0 10%;
  padding-top: 70px; 
}

.about__title {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.about p:not(:last-child) {
  margin-bottom: 30px; 
}

.map {
  margin: 0 10%;
  padding-top: 50px; 
}

.map h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Noto Sans';
  font-style: normal;
  font-size: 36px;
  font-weight: 400; 
}

.map__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  height: 500px; 
}


.heroes__container
{
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#heroes__wrapper {
  
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

#heroes__carousel {
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 40%;
  left: 0;
  transform: translate(0%, -50%);
  display: none;
}

#next {
  top: 40%;
  right: 0;
  transform: translate(0%, -50%);
}

#heroes__cards{
  display: grid;
  grid-gap: 100px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.heroes {
  margin: 0 10%;
  padding-top: 65px; 
}
.heroes h2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 70px;
  line-height: 49px;
  text-align: center; 
}

.heroes__cards-link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}

.heroes__cards-link h4 {
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  text-align: center; 
}

.heroes__cards-link__img {
  max-width: none;
  box-shadow: 0 0 57px 0 rgba(19, 18, 33, 0.5);
  margin-bottom: 15px; 
}

.heroes__button {
margin: 70px 0;
text-align: center; 
}


.heroes__cards-link__img:hover{
filter: contrast(200%);
transition: all 0.3s ease;
}

footer {
  padding: 2% 2%;
  background-color: #333; }

footer p {
  color: #d0cbcb;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

footer .parallax__header-menu__logo {
  width: 13%;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts h2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  text-align: center; 
  margin-bottom: 20px;
}

.contacts__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center;
  margin: 60px 0;  */
  margin: 10px 0 60px 0;
  width: 70%;

}

.socials {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  width: 170px;
  justify-content: space-between;
}

.contact__icon img {
  height: 50px; 
}

.animation-p{
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 3s ease 0s;
}
.animation-p._active{
  opacity: 1;
  transform: translate(0px, 0px);
}

.header-menu__body{
  margin: auto 0;
}

.header-menu__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu__link{  
text-transform: uppercase;
color: #e1dfdf;
}

a.logo-a__SGTY{
  padding-left: 10px;
  display: flex;
}



.route{
  position: relative;
}

.route::after {
  content: 'экскурсия';
  position: absolute;
  top: 0;
  right: 0;
  /* width: 50%; */
  height: 39px;
  background-color: #7e0516;
  opacity:0.8;
  color: #fff;
  font-size: 12px;
  padding: 10px;
}

.heroes__overlay{
  width: 100%;
  height: 54px;
  position: absolute;
  bottom: 75px;
  /* left: 28%; */
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #646464;
  z-index: 100;
  
}
.heroes__overlay:hover{
  background: rgb(2,0,36);
background: linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(12,21,101,1) 40%, rgba(0,212,255,1) 100%);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.heroes__overlay a{
  display: flex;
}

.heroes__overlay-player{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}

#audio-box {
	background-color: #2e3033;
	box-shadow: 5px 10px 20px 5px rgba(204, 204, 204, 0.5);
	color: #fff;
	position: absolute;
	width: 25%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	z-index: 5;
}

#controls-wrapper {
	text-align: justify;
	user-select: none;
}

#rw,
#ff,
#play {
	cursor: pointer;
	user-select: none;
}

#time-wrapper {
	text-align: justify;
}

#time-wrapper:after {
	content: "";
	display: inline-block;
	width: 100%;
}

/*Remove default styles*/
input[type="range"] {
	-webkit-appearance: none;
	margin: 18px 0;
	width: 100%;
}

input[type="range"]:focus {
	outline: none;
}
/*Track & handle(thumb) styles*/
/*Chrome*/
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 1em;
	cursor: pointer;
	background: #23b26d;
	border-radius: 0;
	border: 1px solid #23b26d;
}

input[type="range"]::-webkit-slider-thumb {
	border: 1px solid #f50039;
	height: 2em;
	width: 16px;
	border-radius: 3px;
	background: #f50039;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -0.5em;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #23b26d;
}

/*Firefox*/
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 1em;
	cursor: pointer;
	background: #23b26d;
	border-radius: 0;
	border: 1px solid #23b26d;
}

input[type="range"]::-moz-range-thumb {
	border: 1px solid #f50039;
	height: 2em;
	width: 16px;
	border-radius: 3px;
	background: #f50039;
	cursor: pointer;
	-webkit-appearance: none;
}

/*IE*/
input[type="range"]::-ms-track {
	width: 100%;
	height: 1em;
	cursor: pointer;
	background: #23b26d;
	border-radius: 0;
	border: 1px solid #23b26d;
}

input[type="range"]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-ms-thumb {
	border: 1px solid #f50039;
	height: 2em;
	width: 16px;
	border-radius: 3px;
	background: #f50039;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -0.5em;
}

input[type="range"]:focus::-ms-fill-lower {
	background: #3071a9;
}

input[type="range"]:focus::-ms-fill-upper {
	background: #367ebd;
}

#bars-box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	transition: 2s;
}

.bar {
	position: absolute;
	bottom: 0;
	width: 20%;
	height: 50%;
	animation-name: beat;
	animation-duration: var(--bar-delay);
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

#bars-box.active {
	opacity: 1;
	height: 100%;
}

.bar:nth-child(odd) {
	background-color: green;
}

.bar:nth-child(even) {
	background-color: red;
}

@keyframes beat {
	0% {
		height: var(--bar-max-height);
	}
	50% {
		height: var(--bar-min-height);
	}
	100% {
		height: var(--bar-max-height);
	}
}



