/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

/*smooth scroll*/
html{
  scroll-behavior: smooth;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
	transition: .5s opacity ease-in-out; 
}

.body_loading {
  opacity: 1;
}


.life{
  margin: 0 10%;
  padding-top: 50px; 
}
.life h2 {
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Noto Sans';
  font-style: normal;
  font-size: 36px;
  font-weight: 400; 
}

.life__container
{
  margin-bottom: 10%;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}   

#life__wrapper {
      
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

#life__carousel {
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev2,
#next2 {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev2 {
  top: 60%;
  left: 0;
  transform: translate(0%, -50%);
  display: none;
}

#next2 {
  top: 60%;
  right: 0;
  transform: translate(0%, -50%);
}

#life__cards{
  display: grid;
  grid-gap: 136px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.life__cards-img {
  max-width: none;
  margin-bottom: 15px; }



/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

a {
  text-decoration: none;
  color: black; 
}

a.header-menu__link{
  color: #fff;
  opacity: 1;
  transition: .6s all;
}

.header-menu__list > li{
  position: relative;
}

/* a.header-menu__link:hover{
  opacity: 1;
  text-shadow: 0 0 40px rgba(12, 21, 101, 0.9);
  color: rgba(12, 21, 101, 0.9);
} */

a.header-menu__link::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

a.header-menu__link:hover::after { 
  width: 100%; 
  left: 0; 
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

img.logo-img__SGTY
{
  margin-top: 3px;
  width: 100%;
}
.parallax {
  color: #fff;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%; }
  .parallax__header {
    display: flex;
    padding: 30px 0px;
    justify-content: space-between; }
    .parallax__header-menu__logo {
      display: flex;
      width: 12%;
      justify-content: space-between; }
  .parallax-container {
    display: flex;
   max-width: 56%; }
  .parallax-container__text {
    padding-top: 170px; }
    .parallax-container__text h1 {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 500;
      font-size: 3rem;
      padding-bottom: 10px; }
  .parallax__content {
    height: 100vh; }
  .parallax__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; }

.button {
  background: rgba(12, 21, 101, 0.9);
  padding: 16px 86px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: white;
  cursor: pointer;
  transition: 1s;
 }
  .button:hover {
    background: rgba(12, 21, 101, 0.7);
    transform: scale(1.1);
  }
.parallax__header-menu__icons{
  width: 30%;
  display: flex;
  align-items: center;
}
.goto-map,
.about-hero {
  font-size: 16px;
  line-height: 22px; }

.overlay {
  padding: 0 10%;
  background: rgba(33, 33, 33, 0.75);
  height: 100%; }

.page-content {
  height: 600px; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
 }

.about {
  margin: 0 10%;
  padding-top: 70px; }
  .about__title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin-bottom: 70px;
   }
  .about p:not(:last-child) {
    margin-bottom: 30px; }

.map {
  margin: 0 10%;
  padding-top: 50px; }
  .map h2 {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 36px;
    font-weight: 400; }
  .map__wrapper {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    height: 500px; }




    .logo-a__URBAS{
      padding-right: 10px;
    }
    .logo-a__ISPM{
      padding-right: 10px;
    }
    .logo-a__SEI{
      padding-right: 10px;
    }
    .logo-a__MUS{
      padding-right: 10px;
    }
    .contacts h2 {
      font-size: 19px;
    }
    .footer .parallax__header-menu__logo{
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around
    }





 
    .heroes__container
    {
      position: relative;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    #heroes__wrapper {
      
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
    }
    
    #heroes__carousel {
      overflow: hidden;
      scroll-behavior: smooth;
      scrollbar-width: none;
    }
    
    #carousel::-webkit-scrollbar {
      height: 0;
    }
    
    #prev,
    #next {
      display: flex;
      justify-content: center;
      align-content: center;
      background: white;
      border: none;
      padding: 8px;
      border-radius: 50%;
      outline: 0;
      cursor: pointer;
      position: absolute;
    }
    
    #prev {
      top: 40%;
      left: 0;
      transform: translate(0%, -50%);
      display: none;
    }
    
    #next {
      top: 40%;
      right: 0;
      transform: translate(0%, -50%);
    }
    
    #heroes__cards{
      display: grid;
      grid-gap: 100px;
      grid-auto-flow: column;
      margin: auto;
      box-sizing: border-box;
    }

.heroes {
  margin: 0 10%;
  padding-top: 65px; }
  .heroes h2 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 70px;
    line-height: 49px;
    text-align: center; }

  .heroes__cards-link {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
    .heroes__cards-link h4 {
      font-size: 20px;
      font-weight: 100;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      text-align: center; }
    .heroes__cards-link__img {
      max-width: none;
      box-shadow: 0 0 57px 0 rgba(19, 18, 33, 0.5);
      margin-bottom: 15px; }
  .heroes__button {
    margin: 70px 0;
    text-align: center; }


.heroes__cards-link__img:hover{
  filter: contrast(200%);
  transition: all 0.3s ease;
}
footer {
  padding: 2% 2%;
  background-color: #333; }

footer p {
  color: #d0cbcb;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0; }
footer .parallax__header-menu__logo{
  width: 13%;
}
.contacts h2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  text-align: center; }

.contacts__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 60px 0; }

.socials {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  width: 170px;
  justify-content: space-between;
  }

.contact__icon img {
  height: 50px; }

.animation-p{
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 3s ease 0s;
}
.animation-p._active{
  opacity: 1;
  transform: translate(0px, 0px);
}

.header__menu{
  display: flex;
  align-items: center;
}

.header-menu__body{
  margin: auto 0;
}

.header-menu__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu__list > li:not(:last-child){
  margin-right: 20px;
}

.header-menu__link{  
text-transform: uppercase;
color: #e1dfdf;
}

a.logo-a__SGTY{
  padding-left: 10px;
  display: flex;
}


@media (max-width: 680px){


  #prev{
    display: none;
  }
  #next{
    display: none;
  }
  #heroes__cards{
    display: grid;
    grid-gap: 50%;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

  .menu__menu-burger{
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;

  }
  .menu__menu-burger span,
  .menu__menu-burger::before,
  .menu__menu-burger::after{
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff; 
  }
  .menu__menu-burger::before,
  .menu__menu-burger::after{
      content: "";
  }
  .menu__menu-burger::before{
      top: 0;
  }
  .menu__menu-burger::after{
      bottom: 0;
  }
  .menu__menu-burger span{
      top: 50%;
      transform:scale(1) translate(0px, -50%);
  }
  .menu__menu-burger._active span{
      transform:scale(0) translate(0px, -50%);
  }
  .menu__menu-burger._active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__menu-burger._active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
  }
  .header-menu__body{
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(10px);
      padding: 100px 0;
      transition: left 0.3s ease 0s;
      overflow: auto;
      z-index: 2;
  }
  .header-menu__body._active{
      left: 0;
  }
  .header-menu__body._active::before{
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 70px;
      background-color: rgb(0, 0, 0);
      z-index: 2;
  }
  .header-menu__list > li {
      margin-bottom: 40px;
      margin-right: 0;
      flex-wrap: wrap; 
  }
  .header-menu__list > li._active .menu_sub-list{
      display: block;
  }
  .header-menu__list > li :last-child{
      margin-bottom: 0px;
  }
  .header-menu__link {
      font-size: 24px;
  }

  .header-menu__list{
      flex-direction: column;
  }




  .parallax{
    background-size: contain;
    height: 26vh;
  }

  .parallax-container{
    max-width: 70%;
  }
  .parallax__header-menu__logo {
    width: 32%;
  }

  a.logo-a__SGTY{
    padding-right: 10px;
  }

  .parallax-container__text h1{
    font-size: 13px;
  }

  .parallax-container__text{
    padding-top: 0;
  }

  .parallax-container__text p{
    font-size: 11px;
  }
 
  .parallax__buttons{
    display: none;
  }

  .about {
    padding-top: 30px;
  }

  .about__title {
    font-size: 19px;
    margin-bottom: 18px;
  }

  .about p{
    font-size: 14px;
  }

  .map {
    padding-top: 30px;
  }

  
  .map h2 {
    font-size: 19px;
    margin-bottom: 40px;
  }

  .heroes {
    padding-top: 16px;
  } 

  .heroes h2{
    font-size: 19px;
    margin-bottom: 30px;
  }

  .heroes__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .heroes__cards-link__img {
    width: 150px;
    margin-left: 50%;
  }

  .heroes__cards-link h4{
    text-align: justify;
    font-size: 13px;
    margin-left: 50%;
  }

  .heroes__item{
    margin-bottom: 15px;
  }

  .heroes__button {
    margin: 20px 0;
  }

  .button {
    padding: 4px 25px;
    font-size: 14px;
  }

  .contacts h2 {
    font-size: 19px;
  }

  .contacts__container {
    margin: 20px 0;
  }

  .contact__icon img {
    height: 25px;
  }

  .socials{
    width: 120px;
  }
}

@media(max-width: 830px) and (min-width: 680px){

  .parallax{
    background-size: contain;
    height: 45vh;
  }

  .parallax-container__text {
    padding-top: 60px;
}

.parallax-container__text h1 {
  font-size: 28px;
}

.parallax__buttons button{
  padding: 12px 24px;
}

.parallax__buttons {
  margin-top: 24px;
}

.heroes__cards-link__img {
  width: 65%;
  margin-left: 20%;
}

.heroes__cards-link h4 {
  font-size: 14px;

}
.about {
  padding-top: 50px;
}
.about__title {
  font-size: 29px;
  margin-bottom: 7%;
}

.map h2 {
  margin-bottom: 7%;
  font-size: 29px;
}

.heroes h2 {
  font-size: 29px;
  margin-bottom: 50px;
}
}

@media(max-width: 1280px) and (min-width: 1025px){

  .parallax{
    background-size: contain;
    height: 60vh;
  }

  .parallax-container__text {
    padding-top: 60px;
  }

 .parallax-container__text h1 {
  font-size: 28px;
 }

 .parallax__buttons button{
  padding: 12px 24px;
 }

 .parallax__buttons {
  margin-top: 24px;
 }

}
@media(max-width: 1024px) and (min-width: 830px){
  .parallax{
    background-size: contain;
    height: 60vh;
  }
  .parallax-container__text {
    padding-top: 60px;
  }

 .parallax-container__text h1 {
  font-size: 28px;
 }

 .parallax__buttons button{
  padding: 12px 24px;
 }

 .parallax__buttons {
  margin-top: 24px;
 }

 .heroes__button {
  margin: 20px 0;
}

.button {
  padding: 7px 35px;
  font-size: 18px;
}
.logo-img_INPIT {
  height: 35px;
  padding-right: 10px;
}

.contacts__container {
  margin: 20px 0;
}

.contact__icon img {
  height: 34px;
}

.socials{
  width: 150px;
}
}

@media(max-width: 900px)
{
  .parallax-container{
    max-width: 70%;
  }
}

@media(max-width: 300px)
{
  .parallax-container{
    max-width: 90%;
  }
}




