@import '_resetStyles';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}



.parallax {
    color: #fff;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;

    &__header{
        display: flex;
        padding: 30px 0px;
        justify-content: space-between;
        &-menu__logo{
            display: flex;
            width: 13%;
            justify-content: space-between;
            &-img__SGTY{
                padding-top: 3px;
            }
        }
        &-menu__body__list{
            display: flex;
            li{
                margin-right: 20px;
                font-size: 17px;
            }
            a{
                color: #e1dfdf;
            }
        }
    }

    &-container{
        display:flex;
        width: 56%;
    }
    &-container__text {
        padding-top: 170px;
        //padding-top: 30vh;

        &__t{
            width: 100%;
        }
        h1{
            font-family: 'Noto Sans', sans-serif;
            font-weight: 500;
            font-size: 3rem;
            padding-bottom: 10px;
            text-align: justify;
        }
        p{
            font-weight: 300;
            line-height: 30px;
        }
    }

    &__content {
        height: 100vh;
    }

    &__buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
}

.button{
    background: rgba(12, 21, 101, 0.9);
    padding: 16px 86px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: white;
    cursor: pointer;

    &:hover{
        background: rgba(12, 21, 101, 0.7);
    }
}

.goto-map,
.about-hero {
    font-size: 16px;
    line-height: 22px;
}


.overlay{
    background: rgba(33, 33, 33, .75);    
    height: 100%;
}

.page-content{
    height: 600px;
} 

.container {
    max-width: 1200px;
    margin: 0 10%;
}

.about {
    padding-top: 70px;

    &__title {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        margin-bottom: 70px;
    }

    p:not(:last-child){
        margin-bottom: 30px;
    }
}

.map {
    padding-top: 50px;
    h2{
        margin-bottom: 50px;
        text-align: center;

        font-family: 'Noto Sans';
        font-style: normal;
        font-size: 36px;
        font-weight: 400;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        max-width: 1200px;
        height: 500px;
    }
}


.heroes {
    padding-top: 65px;

    h2{
        font-family: 'Noto Sans';
        font-style: normal;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 70px;
        line-height: 49px;
        text-align: center;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__cards-link {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

        h4{
            font-size: 20px;
            font-weight: 100;
            text-transform: uppercase;
            color: #000;
            text-decoration: none;
            text-align: center;
        }
        

        &__img {
            box-shadow: 0 0 57px 0 rgba(19, 18, 33,  0.5);
            margin-bottom: 15px;
        }
    }

    &__button{
        margin: 70px 0;
        text-align: center;
    }
}

footer{
    padding: 15px 0;
    background-color: #333;
}

footer p {
    color: #d0cbcb;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}


.contacts {
    h2{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 30px;
        text-align: center;
    }

    &__container{
        //background: rgba(12, 21, 101, 0.9);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 60px 0;
    }

}

.socials{
    background: rgba(12, 21, 101, 0.9);
    display: flex;
    justify-content: center;
    width: 150px;
    justify-content: space-between;
    padding: 10px;

}
.contact {
    &__icon {
        img{
            height: 26px;
        }

    }
}
